[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2 = "==2.9.4"
flask-restful = "*"
pyjwt = "*"
marshmallow = "*"
flask-cors = "*"
bcrypt = "*"
python-dotenv = "==0.21.1"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.9"
